---
import { cn } from '../../lib/utils';
import ScrollAnimatedSection from '../ScrollAnimatedSection';

interface Props {
    id: string;
    title: string;
    class?: string;
    leftToRight: boolean;
}
const {
    id,
    title,
    class: className,
    leftToRight,
} = Astro.props

const leftToRightClass = cn(
    "text-left",
    "lg:mr-auto"
)

const rightToLeftClass = cn(
    "text-right",
    "lg:ml-auto"
)

---

<ScrollAnimatedSection
    client:load
    id={id}
    leftToRight={leftToRight}
    className={cn(
        "w-full lg:w-[90%]",
        className,
        leftToRight ? leftToRightClass : rightToLeftClass
    )}
>
    <h2 class="text-4xl md:text-5xl font-black uppercase mb-8 text-accent1">
        {title}
    </h2>
    <div class="text-lg md:text-xl leading-relaxed whitespace-pre-line font-medium text-white">
        <slot />
    </div>
</ScrollAnimatedSection>
